@import "colors.css";

* {
    font-family: Aporetic Sans;
    font-size: 9pt;
}

window#waybar {
    background-color: transparent;
    color: @primary;
    margin-bottom: 2pt;
}

tooltip,
tooltip label {
    background-color: @background;
    color: @primary;
}

tooltip label {
    margin: -5px -3px;
}

#clock {
    margin-left: 2pt;
    margin-right: 2pt;
    border: 2px solid @primary;
    border-radius: 8px;
    padding: 0 12px;
    background-color: @background;
    color: @primary;
    transition: none;
}

#workspaces {
    margin-left: 2pt;
    border-left: 2px solid @primary;
    border-bottom: 2px solid @primary;
    border-top: 2px solid @primary;
    border-radius: 8px 0 0 8px;
    padding: 0 6px;
    background-color: @background;
    color: @primary;
    transition: none;
}

#window {
    border-right: 2px solid @primary;
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
    border-radius: 0 8px 8px 0;
    padding: 0 12px;
    background-color: @background;
    color: @primary;
    transition: none;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

window#waybar.empty #workspaces {
    border-right: 2px solid @primary;
    border-radius: 8px;
}

#tray {
    border-left: 2px solid @primary;
    border-bottom: 2px solid @primary;
    border-top: 2px solid @primary;
    border-radius: 8px 0 0 8px;
    padding: 0 12px;
    background-color: @background;
}

#network,
#cpu,
#memory {
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
    padding: 0 12px;
    background-color: @background;
    color: @primary;
    transition: none;
}

#battery {
    margin-right: 2pt;
    border-right: 2px solid @primary;
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
    border-radius: 0 8px 8px 0;
    padding: 0 12px;
    background-color: @background;
    color: @primary;
    transition: none;
}

#workspaces button {
    padding: 0 2px;
    color: shade(@primary, 0.5);
}
#workspaces button.focused {
    color: @primary;
}

#battery.warning {
    color: @error;
}
#battery.critical {
    color: @error_container;
}

#clock:hover,
#mpris:hover,
#window:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#tray:hover,
#workspaces button:hover,
#battery:hover {
    background-color: shade(@background, 1.5);
}
