window#waybar {
    background-color: transparent;
    margin-bottom: 2pt;
}

tooltip label {
    margin: -5px -3px;
}

#clock {
    margin-left: 2pt;
    margin-right: 2pt;
    border: 2px solid;
    border-radius: 8px;
    padding: 0 12px;
    transition: none;
}

#workspaces {
    margin-left: 2pt;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-radius: 8px 0 0 8px;
    padding: 0 6px;
    transition: none;
}

#window {
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 0 8px 8px 0;
    padding: 0 12px;
    transition: none;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

window#waybar.empty #workspaces {
    border-right: 2px solid;
    border-radius: 8px;
}

#tray {
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-radius: 8px 0 0 8px;
    padding: 0 12px;
}

#network,
#cpu,
#memory {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0 12px;
    transition: none;
}

#battery {
    margin-right: 2pt;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 0 8px 8px 0;
    padding: 0 12px;
    transition: none;
}

#workspaces button {
    padding: 0 2px;
}
